---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      Want to chat? Shoot me an email at dantonmklein@gmail.com or <a
        href="https://www.linkedin.com/in/danton-klein-211937213/"
        target="_blank"
        class="link link-hover text-primary"
        >a dm on Linkedin</a
      > and I'll be happy to get back to you.
    </p>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()} - Website Template by <a
        class="link"
        href="https://lauroguedes.dev"
        target="_blank"
        ><Pickaxe class="size-3 inline-block mr-1" />Lauro Guedes</a
      >
    </p>
  </aside>
</footer>
